<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<title>{% block title %}Python Playground{% endblock %}</title>
  </head>
  <body style="background-color: ##909090;">
  <body>
{% block header %}
 <h1 style="text-align:center;">Python Playground</h1>
    <p style="text-align:center;"> <i>Code, run and play</i></p>
    <hr/>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}   
 <a href="{{ url }}">{{ url_linktext }}</a>
      <br/>
      <br/>
      <hr/>
      <address style="text-align:center;"> Written by:<br />
      <a href="https://profiles.google.com/slspeek/about" target="_blank">Steven Speek</a> and <a href="http://ephexeve.blogspot.com/" target="_blank">Benjamin Mezger</a><br />
      @ 2011</address>    
{% endblock %}
  </body>
</html>
